.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}


.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
.titleContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.editButton{
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #388E3C;
  color: white;
  cursor: pointer;
}

.rightbarTitle{
    margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitle{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo{
  margin-bottom: 30px;
}

.rightbarInfoItem{
  margin-bottom: 10px;
}

.rightbarInfoKey{
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue{
  font-weight: 300;
}

.rightbarFollowings{
  display: flex;
  flex-wrap: wrap;
}

.rightbarFollowing{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.rightbarFollowingImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.rightbarFollowingName{
  text-align: center;
}

.rightbarFollowButton{
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.rightbarFollowButton:focus{
  outline: none;
}

.rightbarStaticWrapper{
  margin-bottom: 30px;
  display:flex;
}
.staticContainer{
  flex: 1;
}

.ownerContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
  align-items:center;
}

.ownertag{
  margin: 15px;
}

.ownerEventMenu{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.OwnerButtonDelete,
.OwnerButtonEdit{
  width: 40%;
  margin-top: 10px;
  font-size: 14px;
  padding: 10px ;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  border: none ;
  transition-duration: 0.4s;

}

.OwnerButtonDelete{
  background-color: rgb(238, 51, 51);
  &:hover{
    background-color: rgb(165, 5, 5);
  }
}

.OwnerButtonEdit{
  background-color: #302de9;
  &:hover{
    background-color: #0b0986;
  }
}